<nav id="sidebar">
    <div class="sidebar-header text-center">
        <h3 class="mb-4">GRAGAS</h3>
        <img class="img-fluid w-50 rounded-circle mb-3" src="<%- user.avatar %>" alt="">
        <br>
        <a href="/me"><%- user.username %></a>
        <ul class="list-unstyled w-100 mt-3">
            <li>
                <a href="/logout">Cerrar sesión</a>
            </li>
        </ul>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="/dashboard/guilds">Inicio</a>
        </li>
        <% if (user.guild) { %>
        <li>
            <a href="/dashboard/admin-commands">Comandos <br>administración</a>
        </li>
        <li>
            <a href="/dashboard/commands">Comandos <br>personalizados</a>
        </li>
        <li>
            <a href="/dashboard/music">Música</a>
        </li>
        <li>
            <a href="#">Encuestas</a>
        </li>
        <% } %>
        <li>
            <a href="/dashboard/about">Acerca</a>
        </li>
    </ul>
</nav>

<!-- Page Content Holder -->
<div id="content">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn float-left">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span>Ocultar menú</span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Page</a></li>
                </ul>
            </div>
        </div>
    </nav>